html {
    min-height: 100%;
}

#logo {
    width: 32px;
    height: 32px;
}

a, a:visited {
    color: #69f;
    text-decoration: none;
}

a:focus, a:hover {
    color: #c33;
    text-decoration: none;
}

.card-title a, .card-title a:visited {
    color: #333;
    text-decoration: none;
}

.card-title a:focus, .card-title a:hover {
    color: #c33;
    text-decoration: none;
}

.navbar-toggler-icon {
    font-size: 14px;
}

footer {
    height: 60px;
    line-height: 60px;
}

footer p {
    font-size: 14px;
}

.nav-item {
    font-size: 18px;
}

h2 {
    font-size: 22px;
    line-height: 30px;
}

h3 {
    font-size: 22px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

.card-header p, .card-body p {
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

.card-body li {
    font-size: 16px;
    line-height: 32px;
}

p.small-notes {
    font-size: 14px;
}

.card-body blockquote {
    border-left: #ddd 3px solid;
    padding: 4px 8px 4px 8px;
}

.card-body blockquote p {
    color: #666;
    font-size: 14px;
    line-height: 18px;
}

.card-body code {
    font-size: 16px;
    line-height: 32px;
    overflow-x: scroll;
}
