html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a, a:visited {
    color:#999;
    text-decoration:none;
}

a:focus, a:hover {
    color:#c33;
    text-decoration:none;
}

.navbar-toggler-icon {
    font-size: 14px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

footer p {
    font-size:14px;
}

.nav-item {
    font-size:18px;
}
