html {
    min-height: 100%;
}

a, a:visited {
    color: #69f;
    text-decoration: none;
}

a:focus, a:hover {
    color: #c33;
    text-decoration: none;
}

.navbar-toggler-icon {
    font-size: 14px;
}

footer {
    height: 60px;
    line-height: 60px;
}

footer p {
    font-size: 14px;
}

.nav-item {
    font-size: 18px;
}

h3 {
    font-size: 22px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

.card-header p, .card-body p {
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

p.small {
    font-size: 14px;
}
