
<div id=footer>
  <p>Copyright &copy; 2002-{{cur_year}} 王咏刚 / email: wixette.at.gmail.com</p>
  <p><a href="atomfeed.xml">订阅 Atom Feed</a></p>
</div> <!-- footer -->
</div> <!-- root -->

<!-- Google Analytics Code -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5280595-1");
pageTracker._trackPageview();
</script>
<!-- End of Google Analytics Code -->

</body>
</html>
