<!doctype html>
<html lang="zh-CN" id="zh-CN">
<head>
<meta charset="utf-8">
<meta name="Description" content="王咏刚的个人主页">
<title>平平仄 | {% if sub_title %}{{sub_title|escape }}{% else %}王咏刚的个人主页{% endif %}</title>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<link rel="stylesheet" type="text/css" href="main.css">
{% if compile %}
<script src="ppz_compiled.js"></script>
{% else %}
<script src="closure/base.js"></script>
<script src="js/deps.js"></script>
<script>
goog.require('ppz.photos');
</script>
{% endif %}
</head>
{% if template_name == "photos.html" %}
<body onload="ppz.photos.init();">
{% else %}
<body>
{% endif %}
<div id=root>
<div id=nav>
<p>
<span class="nav-item"><img src="images/logo.png" alt=""></img></span>
{% if template_name == "index.html" %}
<span class="nav-item-selected">关于</span>
{% else %}
<span class="nav-item"><a href="index.html">关于</a></span>
{% endif %}
{% if template_name == "poems.html" or template_name == "poem.html" %}
<span class="nav-item-selected">诗歌</span>
{% else %}
<span class="nav-item"><a href="poems.html">诗歌</a></span>
{% endif %}
{% if template_name == "photos.html" %}
<span class="nav-item-selected">照片</span>
{% else %}
<span class="nav-item"><a href="photos.html">照片</a></span>
{% endif %}
{% if template_name == "pubs.html" %}
<span class="nav-item-selected">著述</span>
{% else %}
<span class="nav-item"><a href="pubs.html">著述</a></span>
{% endif %}
</p>
</div>
