<!doctype html>
<html lang="zh-CN" id="zh-CN">
<head>
<meta charset="utf-8">
<meta name="Description" content="王咏刚的个人主页">
<title>平平仄 | {% if sub_title %}{{sub_title|escape }}{% else %}王咏刚的个人主页{% endif %}</title>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<link rel="stylesheet" type="text/css" href="main.css">
<script src="closure/base.js"></script>
<script src="js/deps.js"></script>
<script>
goog.require('ppz.lucky');
</script>
</head>
<body>
<div id=root>
<div id=box1></div>
<div id=box2></div>
<div id=box3></div>
<div id=box4></div>
<div id=logo>
  <img src="images/logo.png" alt=""></img>
</div>
<div id=nav>
  <div id=nav0><a href="">关于</a></div>
  <div id=nav1><a href="poems.html">诗歌</a></div>
  <div id=nav2><a href="photos.html">照片</a></div>
  <div id=nav3><a href="pubs.html">著述</a></div>
  <div id=nav4><a href="" onclick="ppz.lucky.start();return false;">发呆……</a></div>
</div>
