<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>平水韻速查</title>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<style>
body{
margin:2em;
font-size:95%;
font-family:verdana,helvetica,arial,sans-serif;
color:#666;
}
#footer{
font-size:small;
margin-top:2em;
}
h3{
margin-top:2em;
}
#result{width:100%;}
a:link{color:#666;}
a:visited{color:#666;}
a:hover{color:#C00;}
a:active{color:#666;}
</style>
{% if compile %}
<script src="ppz_compiled.js"></script>
{% else %}
<script src="closure/base.js"></script>
<script src="js/deps.js"></script>
<script>
goog.require('ppz.helper');
</script>
{% endif %}
</head>
<body onload="ppz.helper.init();">

<div id=canvas>
<form onsubmit="ppz.helper.onSubmit();return false;">
<p>輸入漢字，數量不限，簡繁均可：<input type=text id=q name=q size=10 value=""><input type=submit></p>
</form>
<p>&nbsp;</p>
<div id=result></div>
<p>&nbsp;</p>
<div id=footer>
<p><a href="#r=all">平水韻總表</a></p>
<p><a href="index.html">回到首頁</a></p>
</div>
</div> <!-- canvas -->

<!-- Google Analytics Code -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5280595-1");
pageTracker._trackPageview();
</script>
<!-- End of Google Analytics Code -->

</body>
</html>
