{% include 'header.html' %}
<div id=intro>
<h1>关于……</h1>
<p>王咏刚，笔名“半轻人”。</p>
<p>技术宅，逻辑控。伪极客，真笨伯。</p>
<p>用emacs写小说，用平水韵下酒。</p>
<p>在太阳系最酷最大的网络公司上班，梦见二进制的下午茶。</p>
</div>
<div id=social>
<h1>各种小圈子</h1>
<ul>
  <li><img class=icon src="images/plus.png">&nbsp;<a href="http://plus.google.com/105349418663822362024/posts">Google+</a></li>
  <li><img class=icon src="images/twitter.png">&nbsp;<a href="http://twitter.com/wixette">Twitter</a></li>
  <li><img class=icon src="images/facebook.png">&nbsp;<a href="http://www.facebook.com/ygwang">Facebook</a></li>
  <li><img class=icon src="images/flickr.png">&nbsp;<a href="http://www.flickr.com/photos/wixette/">Flickr</a></li>
  <li><img class=icon src="images/instagram.png">&nbsp;<a href="http://web.stagram.com/n/wixette">Instagram</a></li>
  <li><img class=icon src="images/sina.png">&nbsp;<a href="http://weibo.com/ygwang">新浪微博</a></li>
  <li><img class=icon src="images/qq.png">&nbsp;<a href="http://t.qq.com/wixette">腾讯微博</a></li>
  <li><img class=icon src="images/4sq.png">&nbsp;<a href="http://foursquare.com/wixette">Foursquare</a></li>
  <li><img class=icon src="images/jiepang.png">&nbsp;<a href="http://jiepang.com/user/531016036">街旁</a></li>
</ul>
</div>
{% include 'footer.html' %}
