{% include 'header.html' %}

<div class="container">

  <div class="row justify-content-center my-5">

    <div class="col-12 col-md-6">
      <div class="card border-0">
        <div class="card-body"><h4 class="card-title">我是谁</h4></div>
        <div class="card-body">
          <p>王咏刚，笔名“半轻人”。</p>
          <p><a href="poems.html">有诗百余首。</a></p>
          <p><a href="pubs.html">有文章、小说、杂书若干。</a></p>
          <p>技术宅，逻辑控。伪极客，真笨伯。用emacs写小说，用平水韵下酒。</p>
          <p>在太阳系最酷最大的网络公司上班，梦见二进制的下午茶。</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center my-5">

    <div class="col-12 col-md-6">
      <div class="card border-0">
        <div class="card-body"><h4 class="card-title">各种小圈子</h4></div>
        <div class="card-body container">
          <div class="row">
            <div class="col-auto"><p><img src="images/plus.png">&nbsp;&nbsp;<a href="http://plus.google.com/105349418663822362024/posts">Google+</a></p></div>
            <div class="col-auto"><p><img src="images/twitter.png">&nbsp;&nbsp;<a href="http://twitter.com/wixette">Twitter</a></p></div>
            <div class="col-auto"><p><img src="images/facebook.png">&nbsp;&nbsp;<a href="http://www.facebook.com/ygwang">Facebook</a></p></div>
            <div class="col-auto"><p><img src="images/flickr.png">&nbsp;&nbsp;<a href="http://www.flickr.com/photos/wixette/">Flickr</a></p></div>
            <div class="col-auto"><p><img src="images/instagram.png">&nbsp;&nbsp;<a href="http://web.stagram.com/n/wixette">Instagram</a></p></div>
            <div class="col-auto"><p><img src="images/sina.png">&nbsp;&nbsp;<a href="http://weibo.com/ygwang">新浪微博</a></p></div>
            <div class="col-auto"><p><img src="images/4sq.png">&nbsp;&nbsp;<a href="http://foursquare.com/wixette">Foursquare</a></p></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

{% include 'footer.html' %}
