body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input{
font-family:verdana,helvetica,arial,sans-serif;
font-size:100%;
color:#666;
}

body,div,img,h1,h2,h3,p,ul,li,pre{
margin:0;
padding:0;
border:0;
}

h1{
font-size:28px;
line-height:5em;
}

h2{
font-size:24px;
line-height:2em;
border-bottom:#eee solid 1px;
padding-top:2em;
margin-bottom:1em;
}

h3{
font-size:26px;
line-height:2em;
padding-top:2em;
}

p{
line-height:2em;
}

a:link{color:#666;}
a:visited{color:#666;}
a:hover{color:#C00;}
a:active{color:#666;}

#nav{
border-bottom:#eee solid 1px;
height:100px;
margin:0 auto 0 auto;
text-align:center;
width:960px;
}

#nav p{
font-size:28px;
line-height:60px;
padding:20px;
}

#nav img{
vertical-align: middle;
}

.nav-item-selected{
color:#ccc;
margin:0 30px 0 30px;
}

.nav-item{
margin:0 30px 0 30px;
}

#nav a:link {text-decoration:none;}
#nav a:visited {text-decoration:none;}
#nav a:hover {text-decoration:none;}
#nav a:active {text-decoration:none;}

#page{
border-left:#eee 35px solid;
padding:0 50px 125px 50px;
margin:0 auto 0 auto;
width:700px;
}

#poem-page{
border-left:#eee 35px solid;
padding:0 150px 125px 150px;
margin:0 auto 0 auto;
width:500px;
}

#page ul{
margin-left:2em;
}

#page li{
line-height:2em;
}

#page li.nodot{
line-height:3em;
list-style:none;
}

#canvas{
position:relative;
width:720px;
height:480px;
background-color:#000;
overflow:hidden;
transition:1s;
-moz-transition:1s;
-webkit-transition:1s;
-o-transition:1s;
}

#prev{
cursor:pointer;
position:absolute;
color:#fff;
left:10px;
top:450px;
width:70px;
height:20px;
text-align:center;
text-shadow:2px 2px 4px #000;
}

#next{
cursor:pointer;
position:absolute;
color:#fff;
left:640px;
top:450px;
width:70px;
height:20px;
text-align:center;
text-shadow:2px 2px 4px #000;
}

#page table{
margin-left:80px;
width:600px;
}

#page table,th,tr,td{
border:0;
text-align:left;
}

#page td{
line-height:3em;
}

#page p.info{
letter-spacing:0.3em;
}

#poem{
margin:50px 0 50px 0;
font-size:16px;
letter-spacing:0.2em;
line-height:2em;
}

#footer{
border-top:#eee solid 1px;
font-size:80%;
margin:0 auto 250px auto;
text-align:center;
width:960px;
}

img.bookcover{
float:right;
width:300px;
}
