{% include 'header.html' %}

<div class="container">

  <div class="page-header">
    <h1>咏刚的诗</h1>
  </div>

  <div class="row">

    {% for poem in poems reversed %}
    
    <td><a href=""></a></td>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="panel panel-default poem-summary">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="{{ poem.link }}">{{ poem.title|escape }}</a></h3>
        </div>
        <div class="panel-body">
          {% autoescape off %}{{ poem.html_summary }}{% endautoescape %}
        </div>
        <div class="panel-footer"><a href="{{ poem.link }}">阅读全文</a></div>
      </div>
    </div>

    {% endfor %}

  </div>
</div>
{% include 'footer.html' %}
