{% include 'header.html' %}

<div class="container">
  <div class="row">

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-default poem">
        <div class="panel-heading">
          <h2>{{ poem_title|escape }}</h2>
          <p>王咏刚&nbsp;{{ poem_date }}</p>
        </div>
        <div class="panel-body">
          <p>{{ poem_content|escape }}</p>
        </div>
        <div class="panel-footer"><a href="poems.html">更多咏刚的诗</a></div>
      </div>
    </div>

  </div>
</div>

{% include 'footer.html' %}
