{% include 'header.html' %}

<div class="container">

  <h3>咏刚的诗</h3>

  <div class="row justify-content-around">

    {% for poem in poems reversed %}
    
    <div class="col-6 col-md-4">
      <div class="card my-3">
        <div class="card-body"><h4 class="card-title"><a href="{{ poem.link }}">{{ poem.title|escape }}</a></h4></div>
        <div class="card-body">
          {% autoescape off %}{{ poem.html_summary }}{% endautoescape %}
        </div>
        <div class="card-body">
          <a href="{{ poem.link }}">阅读全文</a>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</div>

{% include 'footer.html' %}
