{% include 'header.html' %}
<div id=page>

<h1>著译文字</h1>

<h2>镜中千年</h2>
<img class="bookcover" src="images/1000.png">

<p><b>一个跨越千年的悬疑故事</b></p>
<p><b>一次冲破信息壁垒，挑战信息强权的奇幻历险</b></p>
<ul>
  <li>科幻·悬疑小说《镜中千年》</li>
  <li>半轻人 著</li>
  <li>清华大学出版社，2013年3月第1版。</li>
  <li>ISBN: 9787302314110</li>
  <li>网上链接：
  <a href="http://book.douban.com/subject/21668129/">豆瓣</a>
  <a href="http://www.amazon.cn/%E9%95%9C%E4%B8%AD%E5%8D%83%E5%B9%B4-%E5%8D%8A%E8%BD%BB%E4%BA%BA/dp/B00BOGXUOW/ref=sr_1_1?ie=UTF8&qid=1362837405&sr=8-1">亚马逊</a>
  </li>
</ul>

<h3>内容简介</h3>
<p>3008年，人类经济繁荣、生活富足，科技水平却停滞在一千年前！科技真有不可逾越的边界？</p>
<p>一位中国女孩在海岛神秘消失又突然出现，她的家谱里到底隐藏了怎样的秘密？一位年轻黑客在印度洋水下与世隔绝，他神奇的牧鱼术里到底暗含了怎样的科技力量？一位女工程师的声名在突如其来的巨轮搁浅事故中毁于一旦，她惊奇地发现自己正陷入一个卑劣的圈套！博学多识的日本记者无意中得知，科技根本就没有停滞，新科学、新技术正在黑暗一角迅猛发展……</p>
<p>神秘的黑客，懵懂的女生，干练的工程师，敏锐的记者，冷酷的军人，疯狂的叛逆者，被欲望点燃的年轻人……普通人在巨大的科技代差面前，不得不以脆弱的身躯和超群的智慧，与匪夷所思的科技力量抗衡，不得不终日游走在梦幻和现实之间。直到一千年的谜题最终解开，直到地球在利益纷争中濒临毁灭，盗火者们才意识到，现实和梦幻只是相互间的镜像，既无所谓真，也无所谓假，只有勇敢地走进魔镜，才能完成世界的救赎。</p>

<h2>帮主乔布斯</h2>
<img class="bookcover" src="images/jobs.png">

<p><b>你喜不喜欢他，他就在那里。</b></p>
<p><b>但你一点评他，就容易栽沟里。</b></p>
<p><b>所谓乔布斯。所谓乔帮主。</b></p>

<ul>
  <li>王咏刚 周虹 著</li>
  <li>简体中文版：《乔布斯传：神一样的传奇》。上海财经大学出版社，2011年8月第1版。ISBN: 9787564211172</li>
  <li>繁体中文版：《世界跟著他的想像走：賈伯斯傳奇》。天下文化出版社，2011年7月第1版。ISBN: 9789862167823</li>
  <li>简体中文电子版：《帮主乔布斯》。唐茶（字节社），2011年iOS版（已下架）。
  <li>网上链接：
    <a href="http://book.douban.com/subject/6723066/">豆瓣</a>
    <a href="http://www.bookzone.com.tw/Publish/book.asp?bookno=cb458">天下文化</a>
    <a href="http://www.amazon.cn/%E4%B9%94%E5%B8%83%E6%96%AF%E4%BC%A0-%E7%A5%9E%E4%B8%80%E6%A0%B7%E7%9A%84%E4%BC%A0%E5%A5%87-%E7%8E%8B%E5%92%8F%E5%88%9A/dp/B005CMO2NW/ref=sr_1_4?s=books&ie=UTF8&qid=1362840453&sr=1-4">亚马逊</a>
  </li>
</ul>

<h3>内容简介</h3>
<p>唯有那些瘋狂到極點的人，才能真正改變世界……</p>
<p>沒有賈伯斯，今天的世界一定是另一個模樣。賈伯斯的名言“Insanely Great !”，對於蘋果迷與全世界的人來說，用來形容賈伯斯自己或許再適合不過。</p>
<p>賈伯斯就是賈伯斯。關於賈伯斯，最好的描述是：「所有故事都是真的。」你肯定聽過賈伯斯的各種故事，有關賈伯斯的瘋狂，他的天才，他的傑作，也知道他的失敗，所有故事充滿矛盾，但都是真的。賈伯斯本身就是個矛盾的人。</p>
<p>賈伯斯的成功也無法複製。沒人能像他那樣，靠自己一個人對未來的洞察力，保持蘋果的領先優勢，也不可能像他那樣一邊動輒對員工咆哮，一邊又用超強的感染力激發員工熱情，更不可能像他那樣擁有著嬉皮和禪修的雙重性格，一邊又像個搖滾明星般讓無數粉絲膜拜。在本書，李開復利用在蘋果工作時以及在IT界和投資界累積的關係，幫助兩位作者近身採訪曾與賈伯斯有過直接、緊密相處的人物，包括蘋果最早的創投者、前董事會成員、前副總裁、高級主管、資深工程師，以及熟悉賈伯斯的其他朋友。透過第一手資料，許多不為人知的精彩故事浮出檯面，解釋了人們困惑已久的謎團，也因為出自旁觀者的視角，透露了連賈伯斯也不會向媒體承認的秘密。</p>
<p>賈伯斯本身就是一個傳奇，比任何虛構的小說都更精彩！</p>

<h2>Why Programs Fail：系统化调试指南</h2>
<img class="bookcover" src="images/wpf.png">

<p><b>除了本书以外，几乎还没有什么书从系统化的角度介绍发现和修正编程错误的方法。</b></p>
<ul>
  <li>【德】泽勒（Zeller, A.）著，王咏武，王咏刚 译</li>
  <li>电子工业出版社，2007年3月第1版</li>
  <li>网上链接：
    <a href="http://book.douban.com/subject/2036942/">豆瓣</a>
    <a href="http://product.dangdang.com/main/product.aspx?product_id=9274116">
    当当</a>
  </li>
</ul>

<h3>内容简介</h3>
<p>《Why Programs Fail——系统化调试指南》是一本关于计算机程序中的Bug的书——如何定位Bug？如何重视Bug？以及如何修正Bug，使Bug不再出现？这是第一本全面讨论系统调试的著作，其中不仅涵盖了可适用于手工观察直至全自动调试的大量工具和技术，还包括如何创建自动化调试器的指南。书中的论述都建立在程序故障起因的可靠理论之上，而不依赖于那些凭借直觉和经验的技术，那些技术不仅对于大规模的软件系统没有太大用处，甚至也无法帮助我们理解程序。</p>

</div> <!-- page -->
{% include 'footer.html' %}
