{% include 'header.html' %}

<div class="container">

  <div class="row justify-content-center py-5 px-1">

    <div class="col-12 col-md-6 m-0 p-0">
      <div class="card rounded-0 m-1 m-md-2 m-lg-3">
        <div class="card-header">
          <h3 class="card-title m-0">人工智能</h3>
        </div>
        <div class="card-body">
          <h4>概要</h4>
          <ul>
            <li>李开复，王咏刚著</li>
            <li>简体中文版：《人工智能》。文化发展出版社，2017年5月第1版。ISBN: 9787514217155</li>
            <li>繁体中文版：《人工智慧來了》。天下文化出版社，2017年4月第1版。ISBN: 9789864792061</li>
          </ul>
          <h4>内容简介</h4>
          <p>人工智能已经来了，它就在我们身边，几乎无处不在。</p>
          <p>人工智能技术正在彻底改变人类的认知，重建人机相互协作的关系。史无前例的自动驾驶正在重构我们头脑中的出行地图和人类生活图景，今天的人工智能技术也正在翻译、写作、绘画等人文和艺术领域进行大胆的尝试。</p>
          <p>我们真的知道什么是人工智能吗？我们真的准备好与人工智能共同发展了吗？我们该如何在心理上将人和机器摆在正确的位置？我们该如何规划人工智能时代的未来生活……当人工智能时代成为必然，《人工智能》一书告诉我们：个人应该做些什么，才能避免被AI取代？企业应该如何升级，才能在新的商业变局到来前抓住先机？我们无需担忧和惧怕人工智能时代的到来，我们所要做的，应当是尽早认清AI与人类的关系，了解变革的规律，更好地拥抱新时代的到来。</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 m-0 p-0">
      <div class="card rounded-0 m-1 m-md-2 m-lg-3">
        <div class="card-header">
          <h3 class="card-title m-0">Why Programs Fail：系统化调试指南</h3>
        </div>
        <div class="card-body">
          <h4>概要</h4>
          <ul>
            <li>【德】泽勒（Zeller, A.）著，王咏武，王咏刚 译</li>
            <li>电子工业出版社，2007年3月第1版</li>
            <li>ISBN: 9787121036866</li>
          </ul>
          <h4>内容简介</h4>
          <p>《Why Programs Fail——系统化调试指南》是一本关于计算机程序中的Bug的书——如何定位Bug？如何重视Bug？以及如何修正Bug，使Bug不再出现？这是第一本全面讨论系统调试的著作，其中不仅涵盖了可适用于手工观察直至全自动调试的大量工具和技术，还包括如何创建自动化调试器的指南。书中的论述都建立在程序故障起因的可靠理论之上，而不依赖于那些凭借直觉和经验的技术，那些技术不仅对于大规模的软件系统没有太大用处，甚至也无法帮助我们理解程序。</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 m-0 p-0">
      <div class="card rounded-0 m-1 m-md-2 m-lg-3">
        <div class="card-header">
          <h3 class="card-title m-0">帮主乔布斯</h3>
        </div>
        <div class="card-body">
          <h4>概要</h4>
          <ul>
            <li>王咏刚 周虹 著</li>
            <li>简体中文版：《乔布斯传：神一样的传奇》。上海财经大学出版社，2011年8月第1版。ISBN: 9787564211172</li>
            <li>繁体中文版：《世界跟著他的想像走：賈伯斯傳奇》。天下文化出版社，2011年7月第1版。ISBN: 9789862167823</li>
            <li>简体中文电子版：《帮主乔布斯》。唐茶（字节社），2011年iOS版（已下架）。
          </ul>
          <h4>内容简介</h4>
          <p>唯有那些瘋狂到極點的人，才能真正改變世界……</p>
          <p>沒有賈伯斯，今天的世界一定是另一個模樣。賈伯斯的名言“Insanely Great !”，對於蘋果迷與全世界的人來說，用來形容賈伯斯自己或許再適合不過。</p>
          <p>賈伯斯就是賈伯斯。關於賈伯斯，最好的描述是：「所有故事都是真的。」你肯定聽過賈伯斯的各種故事，有關賈伯斯的瘋狂，他的天才，他的傑作，也知道他的失敗，所有故事充滿矛盾，但都是真的。賈伯斯本身就是個矛盾的人。</p>
          <p>賈伯斯的成功也無法複製。沒人能像他那樣，靠自己一個人對未來的洞察力，保持蘋果的領先優勢，也不可能像他那樣一邊動輒對員工咆哮，一邊又用超強的感染力激發員工熱情，更不可能像他那樣擁有著嬉皮和禪修的雙重性格，一邊又像個搖滾明星般讓無數粉絲膜拜。在本書，李開復利用在蘋果工作時以及在IT界和投資界累積的關係，幫助兩位作者近身採訪曾與賈伯斯有過直接、緊密相處的人物，包括蘋果最早的創投者、前董事會成員、前副總裁、高級主管、資深工程師，以及熟悉賈伯斯的其他朋友。透過第一手資料，許多不為人知的精彩故事浮出檯面，解釋了人們困惑已久的謎團，也因為出自旁觀者的視角，透露了連賈伯斯也不會向媒體承認的秘密。</p>
          <p>賈伯斯本身就是一個傳奇，比任何虛構的小說都更精彩！</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 m-0 p-0">
      <div class="card rounded-0 m-1 m-md-2 m-lg-3">
        <div class="card-header">
          <h3 class="card-title m-0">镜中千年</h3>
        </div>
        <div class="card-body">
          <h4>概要</h4>
          <ul>
            <li>科幻·悬疑小说《镜中千年》</li>
            <li>半轻人 著</li>
            <li>清华大学出版社，2013年3月第1版</li>
            <li>ISBN: 9787302314110</li>
            <li>多看电子版：2013年4月</li>
            <li>字节社电子版：2013年5月</li>
          </ul>
          <h4>内容简介</h4>
          <p>3008年，人类经济繁荣、生活富足，科技水平却停滞在一千年前！科技真有不可逾越的边界？</p>
          <p>一位中国女孩在海岛神秘消失又突然出现，她的家谱里到底隐藏了怎样的秘密？一位年轻黑客在印度洋水下与世隔绝，他神奇的牧鱼术里到底暗含了怎样的科技力量？一位女工程师的声名在突如其来的巨轮搁浅事故中毁于一旦，她惊奇地发现自己正陷入一个卑劣的圈套！博学多识的日本记者无意中得知，科技根本就没有停滞，新科学、新技术正在黑暗一角迅猛发展……</p>
          <p>神秘的黑客，懵懂的女生，干练的工程师，敏锐的记者，冷酷的军人，疯狂的叛逆者，被欲望点燃的年轻人……普通人在巨大的科技代差面前，不得不以脆弱的身躯和超群的智慧，与匪夷所思的科技力量抗衡，不得不终日游走在梦幻和现实之间。直到一千年的谜题最终解开，直到地球在利益纷争中濒临毁灭，盗火者们才意识到，现实和梦幻只是相互间的镜像，既无所谓真，也无所谓假，只有勇敢地走进魔镜，才能完成世界的救赎。</p>
        </div>
      </div>
    </div>

  </div>
</div>
{% include 'footer.html' %}
