{% include 'header.html' %}

<div class="container">

  <div class="row justify-content-center py-5 px-1">

    <div class="col-12 col-md-6 m-0 p-0">
      <div class="card rounded-0 m-1 m-md-2 m-lg-3">
        <div class="card-header">
          <h3 class="card-title m-0">Altair 8800 模拟器</h3>
        </div>
        <div class="card-body">
          <h4>说明</h4>
          <p>一个可以在线运行，支持中英文界面，支持桌面和手机浏览器（除了IE），支持实时调试的 Altair 8800 模拟器。主要模拟了 Altair 8800 个人电脑的前面板操作。所有源代码都以 APL 协议开源。</p>
          <h4 class="mt-3">链接</h4>
          <ul>
            <li><a href="8800-simulator/">运行 Altair 8800 模拟器</a></li>
            <li><a href="https://github.com/wixette/8800-simulator">Github 上的源代码</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 m-0 p-0">
      <div class="card rounded-0 m-1 m-md-2 m-lg-3">
        <div class="card-header">
          <h3 class="card-title m-0">中文一键转稿纸格式</h3>
        </div>
        <div class="card-body">
          <h4>说明</h4>
          <p>将输入的中文转换成 20x20 的稿纸格式，可以按照稿纸的分页打印输出，或打印成 PDF 文件（Chrome 等浏览器在稿纸上打开右键菜单还可以转存 PNG 文件），可以改变字体，文字颜色，纸张颜色，格线颜色。所有源代码都以 APL 协议开源。</p>
          <h4 class="mt-3">链接</h4>
          <ul>
            <li><a href="jsmanuscript/">运行一键转稿纸格式小工具</a></li>
            <li><a href="https://github.com/wixette/jsmanuscript">Github 上的源代码</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
{% include 'footer.html' %}
