body{
border:0;
margin:0;
padding:0;
}
div{
border:0;
margin:0;
padding:0;
}
img{
border:0;
margin:0;
padding:0;
}
#a{
height:100%;
outline:none;
overflow:scroll;
position:absolute;
-webkit-tap-highlight-color:transparent;
-moz-user-select:-moz-none;
-ms-user-select:none;
-webkit-user-select:none;
width:100%;
}
